# Java
*.class
*.ctxt
*.jar

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/target/
/out/
/.gradle/


/helper/*/bin/*
/helper/*/obj/*
.idea/.gitignore
.idea/dataSources.xml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

*.meta
*.obj
*.iobj
*.pch
*.pdb
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
*.exe
helper/JavaCodeGen/bin/Debug/temp.java
.idea/.name
