:root {
    --gray:rgb(251, 252, 253);
    --gray-d:rgb(187, 195, 222);
    /*--gray-d:rgb(235, 236, 237);*/
    --gray-d2:rgb(197, 203, 210);
    --gray-d3:rgb(174, 183, 194);
    --gray-d8:rgb(130, 135, 190);
    /*--gray-d6:rgb(95, 110, 125);*/
    --gray-d6:rgb(110, 115, 170);

    --cancel-off:rgb(140, 50, 60);
    --cancel-on:rgb(160, 35, 50);
}


body {
    background-color: var(--gray);
}

#await{
    background-color: #50709080;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: white;
    font-size: 4vw;
}

#page-name{
    margin-top: 1vh;
    margin-bottom: -2px;
    color: var(--gray-d6);
    text-align: center;
}

.lb-but{
    width: 100%;
    height: 2.7vw;
    min-height: 18px;
    border: none;
    margin-bottom: 2px;
    font-size: calc(1.2vw + 6px);
}

.lb-but.back{
    left: 0;
    bottom: calc(max(2px + 2.7vw, 20px));
    position: absolute;
    vertical-align:bottom;
}

.lb-but.to-index{
    left: 0;
    bottom: 0;
    position:absolute;
    vertical-align:bottom;
}

button.lb-but{
    background-color: var(--gray-d6);
    color: var(--gray-d);
}

button.lb-but:hover{
    background-color: var(--gray-d8);
}
.lb-but{outline: none;}

.left-block{
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: var(--gray-d);
    border-right: 3px solid var(--gray-d6);
    min-width: 140px;
}

.right-block{
    position: fixed;
    left:30%;
    top:5%;
    width: 65%;
    height: 90%;
    background-color: transparent;
}

.right-block > form,
.right-block > div{
    position: relative;
    top: 10%;
    left: 10%;
    width: calc(100% - (2*10%));
    height: 70%;
    min-height: 270px;
    min-width: 400px;
    background-color:  var(--gray-d);
}

#add-reader-box{}


.bot-but{
    position: absolute;
    border-radius: 1ch;
    height: 6%;
    min-height: 24px;
    color: var(--gray-d);
    top: calc(min(100% - 6% - 5%, 100% - 25px));
    font-size: calc(0.6vw + 8px);
}

.bad-info{
    color: var(--cancel-on);
}


.cancel{
    width: 15%;
    left: 5%;
    min-width: 60px;
    background-color: var(--cancel-off);
}
.cancel:hover{background-color: var(--cancel-on);}

.ok{
    border: none;
    left: calc(min(100% - 24% - 5%, 100% - 93px));
    width: 24%;
    min-width: 92px;
    background-color: var(--gray-d8);
}
.mini-ok:hover, .ok:hover{background-color: var(--gray-d6);}

.mini-ok{
    display:inline-block;
    position: relative;
    border: none;
    border-radius: 3ch;
    height: 3vh;
    min-height: 24px;
    width: 3vh;
    min-width: 24px;
    background-color: var(--gray-d8);
    font-size: calc(0.6vw + 8px);
    color: var(--gray-d);
}

.tab-1{
    display:inline-block;
    position:relative;
    min-width: 6vw;
}

.info-header, .inp-handler{
    position: relative;
    left: 5%;
    top: 5%;
    color: var(--gray-d6);
    font-size: calc(0.6vw + 8px);
}
.info-header > div, .inp-handler > div{
    width: 90%;
    margin-bottom: 4px;
}

.info-header > div > label{
    position: relative;
    display: block;
    left: 10px;

}
.inp-handler > div > label{
    position: relative;
    display: inline-block;
    width: max(16%, 30px);
    text-align: right;
}
.inp-handler.long > div > label{
    position: relative;
    display: inline-block;
    width: max(26%, 50px);
    text-align: right;
}

.inp-not-empty::after{
    color:darkred;
    content: "*";
}

.center-it{
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hide-elem {
    position: absolute;
    left: 150vw;
    display: none;
}
